#expand_1:checked {
    ~ * #expand_1_label {
        font-weight: $weightBold;
    }
    ~ * #expand_1_info {
        visibility: visible;
    }
    ~ * #arrow_1 {
        transform: rotate(180deg);
        animation: .5s 1 alternate rotate;
    }
}

#expand_2:checked {
    ~ * #expand_2_label {
        font-weight: $weightBold;
    }
    ~ * #expand_2_info{
        visibility: visible;
    }
    ~ * #arrow_2 {
        transform: rotate(180deg);
        animation: .5s 1 alternate rotate;
    }
}

#expand_3:checked {
    ~ * #expand_3_label {
        font-weight: $weightBold;
    }
    ~ * #expand_3_info{
        visibility: visible;
    }
    ~ * #arrow_3 {
        transform: rotate(180deg);
        animation: .5s 1 alternate rotate;
    }
}

#expand_4:checked {
    ~ * #expand_4_label {
        font-weight: $weightBold;
    }
    ~ * #expand_4_info{
        visibility: visible;
    }
    ~ * #arrow_4 {
        transform: rotate(180deg);
        animation: .5s 1 alternate rotate;
    }
}

#expand_5:checked {
    ~ * #expand_5_label {
        font-weight: $weightBold;
    }
    ~ * #expand_5_info{
        visibility: visible;
    }
    ~ * #arrow_5 {
        transform: rotate(180deg);
        animation: .5s 1 alternate rotate;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}