$mobileBreakpoint: 375px;

$primaryDarkBlue: hsl(238, 29%, 16%);
$primaryDarkBlueLowOpacity: hsla(238, 29%, 16%, .35);
$primarySoftRed: hsl(14, 88%, 65%);

$gradientSoftViolet: hsl(273, 75%, 66%);
$gradientSoftBlue: hsl(240, 73%, 65%);

$neutralVeryDarkBlue: hsl(237, 12%, 33%);
$neutralDarkBlue: hsl(240, 6%, 50%);

$dividersBlue: hsl(240, 5%, 91%);

$fontSize: 12px;
$fontFamily: 'Kumbh Sans', sans-serif;
$weightRegular: 400;
$weightBold: 700;
