@import '_variables.scss';
@import '_accordion_collapse.scss';
@import '_mobile.scss';

footer {
    bottom: 0px;
}

* {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $weightRegular;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient($gradientSoftViolet, $gradientSoftBlue);
    height: 100vh;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

h1 {
    font-size: 3rem;
    font-weight: $weightBold;
}

.faq_accordion {
    background-color: white;
    border-radius: 20px;
}

#faq {
    .panel {
        width: 100%;
        border-bottom: 1px solid $dividersBlue;
    }
}

.down_arrow {
    display: inline;
}

.expandable {
    visibility: collapse;
}

.hidden {
    display: none;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}