@import '_variables.scss';
@import '_accordion_collapse.scss';
@import '_mobile.scss';

footer {
    bottom: 0px;
}

* {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $weightRegular;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    background-image: linear-gradient($gradientSoftViolet, $gradientSoftBlue);
    background-size: cover;
    min-height: 100%;
}

img {
    display: block;
}

h1 {

    font-weight: $weightBold;
}

.faq_accordion {
    background-color: white;
    border-radius: 20px;
}

#faq {
    .panel {
        width: 100%;
        border-bottom: 1px solid $dividersBlue;
    }

    th {
        position: relative;
    }

    .down_arrow {
        position: absolute;
        display: inline-block;
        right: 0;
        top: 40%;
    }
    
    .expandable {
        visibility: collapse;
        color: $neutralDarkBlue;
    }
    
    .hidden {
        display: none;
    }
}

